#sortBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#sortBoard span{
  margin-top:auto;
  position: relative;
  width: 2.5px;
  display: inline-block;
  float: left;
}

aside button{
  width:65px;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  color:  #1a75ff;
  border-radius: 8px;
  border: 1px solid  #1a75ff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
  background-color: white;
  margin-right: 2px;
}

nav{
  float:left;
  width: 20%;
  font-family: 'Noto Sans JP', sans-serif;
}

nav p{
  margin-top: 0px;
  margin-bottom: 0px;
}

aside{
  float: right;
  width: 20%;
}

aside button:hover{
  color: white;
  background-color:  #1a75ff;
}

aside button:active {
  background-color:   #0047b3;
}

#sortType{
  width:150px;
  margin-right: 8px;
  font-family: 'Noto Sans JP', sans-serif;
}


/* 
$color--white = #FFFFFF
$color--black = #000000
$color--light-grey = #E6E6E6
$color--grey = #CCCCCC
$color--dark-grey = #7B7B7B
$color--primary = #2AA1C0
$color--secondary = #0E647D

html, body
  height 100%

body
  background $color--light-grey
  font-family 'Source Sans Pro', sans-serif

.container
  width 100%
  height 100%
  display flex
  flex-wrap wrap
  justify-content center
  align-items center

h1
  font-family 'Alegreya Sans', sans-serif
  font-weight 300
  margin-top 0

// Box to contain form controls
.control-group
  display inline-block
  vertical-align top
  background $color--white
  text-align left
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.1)
  padding 30px
  width 200px
  height 210px
  margin 10px
      
.select
  position relative
  display inline-block
  margin-bottom 15px
  width 100%

  select
    display inline-block
    width 100%
    cursor pointer
    padding 10px 15px
    outline 0
    border 2
    border-radius 0
    background $color--light-grey
    color $color--dark-grey
    appearance none
    -webkit-appearance none
    -moz-appearance none
    
    &::-ms-expand
      display none
    
    &:hover,
    &:focus
      color $color--black
      background $color--grey
  
    &:disabled
      opacity 0.5
      pointer-events none
      
.select__arrow
  position absolute
  top 16px
  right 15px
  width 0
  height 0
  pointer-events none
  border-style solid
  border-width 8px 5px 0 5px
  border-color $color--dark-grey transparent transparent transparent
  
  .select select:hover ~ &
  .select select:focus ~ &
    border-top-color $color--black
  
  .select select:disabled ~ &
    border-top-color $color--grey */
/* 
    <div class="container">
  <div class="control-group">
    <h1>Select boxes</h1>
    <div class="select">
      <select>
        <option>First select</option>
        <option>Option</option>
        <option>Option</option>
      </select>
      <div class="select__arrow"></div>
    </div>
    <div class="select">
      <select>
        <option>Second select</option>
        <option>Option</option>
        <option>Option</option>
      </select>
      <div class="select__arrow"></div>
    </div>
    <div class="select">
      <select disabled="disabled">
        <option>Disabled</option>
        <option>Option</option>
        <option>Option</option>
      </select>
      <div class="select__arrow"></div>
    </div>
  </div>
</div> */