body{
  width:100%;
  height:100%;
  background-color: #020300;
  font-size:10px;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

main .stick {
  margin-top:auto;
  position: relative;
  display: inline-block;
  width: 6px;
}

header {
  width:100%;
  display: flex;
  justify-content: space-around;
  padding:10px;
}

aside {
  width:154px;
  color:white;
  font-size: 1.0rem;
}

.button_wrapper {
  display:flex;
  justify-content: space-between;
}

button {
  margin: 2px 0px;
  width:72px;
  height:22px;
  color:  #1a75ff;
  border-radius: 7px;
  border: 1px solid  #1a75ff;
  background-color: white;
  font-weight: bold;
  corsor: pointer;
}

button:hover {
  color: white;
  background-color:  #1a75ff;  
}

input[type='checkbox']{
  opacity: 0;
}

.faster-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 19px;
}

.onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:20px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.onoff-switch:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  bottom: 2px;
  left: 4px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .4s;
  border-radius:20px;
}

.faster-button input:checked + .onoff-switch {
  background-color:  #1a75ff;
}

.faster-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
