body{
  background-color:  #f2f2f2;
}

.radioSection{
  display :flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  top:50%;
}

.radioSection label{
  top: 50%;
  left: -5rem;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
  text-align: justify;
}

#sortBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#sortBoard span{
  margin-top:auto;
  position: relative;
  width: 2.5px;
  display: inline-block;
  float: left;
}