* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  width:100%;
  height:100%;
  background-color: #020300;
}

.sortboard {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stick{
  margin-top:auto;
  position: relative;
  width: 1.5px;
  display: inline-block;
}

aside button{
  width:65px;
  justify-content: center;
  color:  #1a75ff;
  border-radius: 8px;
  border: 1px solid  #1a75ff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
  background-color: white;
  margin-right: 2px;
}

nav{
  float:left;
  width: 20%;
  color:white;
}

nav p{
  margin-top: 0px;
  margin-bottom: 0px;
}

aside{
  float: right;
  width: 20%;
}

aside button:hover{
  color: white;
  background-color:  #1a75ff;
}

aside button:active {
  background-color:   #0047b3;
}

.selectsort{
  width:150px;
  margin-right: 8px;
  border-radius: 8px;
  font-family: 'Noto Sans JP', sans-serif;
}