* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  width:100%;
  height:100%;
  background-color: #020300;
}

.sortboard {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

aside button{
  width:70px;
  justify-content: center;
  color:  #1a75ff;
  border-radius: 8px;
  border: 1px solid  #1a75ff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
  background-color: white;
  margin-right: 10px;
}

nav{
  float:left;
  width: 20%;
  color:white;
}

nav p{
  margin-top: 0px;
  margin-bottom: 0px;
}

aside{
  float: right;
  width: 20%;
}

.faster-button {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:20px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.onoff-switch:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  bottom: 2px;
  left: 4px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .4s;
  border-radius:20px;
}

.faster-button input:checked + .onoff-switch {
  background-color:  #1a75ff;
}

.faster-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}